.skills {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 60px;
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .skill-image {
            height: 100px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.projects {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    .test {
        width: 100%;
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        img {
            width: 100%;
            padding: 4%;
            background-color: transparent;
            transition: scale 250ms;
        }
        &:hover img {
            scale: 1.06;
        }
        p,
        h3 {
            color: #262626;
        }
        p {
            @include font-poppins(20px, 500);
            margin-left: 25px;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}
