@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-1: 'Work Sans', sans-serif;
$font-2: 'Pacifico', cursive;
$font-3: 'Poppins', sans-serif;

$black: black;
$white: white;

$background-light: #fafbfc;
$background-dark: #252b43;

$background-footer-light: #252b43;
$background-footer-dark: #1e1d26;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-work-sans($size, $bold) {
    font-family: $font-1;
    font-size: $size;
    font-weight: $bold;
}

@mixin font-pacifico($size, $bold) {
    font-family: $font-2;
    font-size: $size;
    font-weight: $bold;
}

@mixin font-poppins($size, $bold) {
    font-family: $font-3;
    font-size: $size;
    font-weight: $bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.light {
    background: $background-light;
    color: $black;
    font-family: $font-1;
    transition: background-color 300ms, color 300ms;
    a {
        transition: color 300ms;
        color: $black;
    }
    .projects {
        a:nth-child(1) {
            background-color: #89d9ca;
        }
        a:nth-child(2) {
            background-color: #f2e6d8;
        }
        a:nth-child(3) {
            background-color: #feeaa1;
        }
        a:nth-child(4) {
            background-color: #faae6b;
        }
    }
}
body.dark {
    background-color: $background-dark;
    color: $white;
    a {
        color: $white;
    }
    .projects {
        a:nth-child(1) {
            background-color: #7fc7bf;
        }
        a:nth-child(2) {
            background-color: #ded3c9;
        }
        a:nth-child(3) {
            background-color: #e9d798;
        }
        a:nth-child(4) {
            background-color: #e5a167;
        }
    }
    footer {
        background-color: $background-footer-dark;
    }
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

main {
    max-width: 1320px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    color: $white;
    background-color: $background-footer-light;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    @include font-pacifico(128px, 400);
    margin-bottom: 20px;
}

h2 {
    @include font-pacifico(64px, 400);
    margin: 70px 0px 60px 0px;
}

h3 {
    @include font-poppins(36px, 500);
    margin: 25px 0px 5px 25px;
    line-height: 36px;
}

@media (max-width: 1024px) {
    h1 {
        @include font-pacifico(64px, 400);
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-bottom: 0px;
    }
}
