@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-1: 'Work Sans', sans-serif;
$font-2: 'Pacifico', cursive;

$black: black;
$white: white;

$background-light: #fafbfc;
$background-dark: #252b43;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-work-sans($size, $bold) {
    font-family: $font-1;
    font-size: $size;
    font-weight: $bold;
}

@mixin font-pacifico($size, $bold) {
    font-family: $font-2;
    font-size: $size;
    font-weight: $bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $background-light;
    color: $black;
    font-family: $font-1;
    transition: 300ms;
    a {
        color: $black;
    }
}
body.dark {
    background: $background-dark;
    color: $white;
    a {
        color: $white;
    }
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
